/*Para asignarle estilo a toda la pagina solo escribir "*", ej: *{aqui los estilos}*/
/*Para asignarle estilo a las etiquetas html va directamente la etiqueta, ej: h1{aqui los estilos} */
/*Para asignarle estilo a las clases escribir primero un "." seguido por el nombre de la clase, ej: .claseejemplo{aqui los estilos}*/
/*Para asignarle estilo al id escribir primero un "#" seguido por el nombre del id, ej: #idejemplo{aqui los estilos}*/

/*Receteo de la página completa para asegurarnos de que en cualquier explorador se va a ver exactamente igual por la diferencias de margenes de los exploradores*/
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: plum;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

/*Agregamos margenes inferiores a los sections, pero lo comento porque por el momento no lo necesito*/
/* section{
    margin-bottom: 20px;
    margin-top: 20px;
} */

/* Al usar boostrap se siguen observando las bolitas negras en las listas, 
para quitarlas y sirve por para todas las etiquetas ul hacer: ul {list-style: none;}*/
ul{
    list-style-type: none;
}
/*Tamaño de la img en relacion a la pag. en terminos de porcentaje*/
img{
   width: 200px;
    border-radius: 50%;
/* Desplazo la img hacia la izquierda y el texto alrededor de ella, cambiar a float: center en caso de querer centrar la img pero el texto no estarían alrededor */
    float: right;
    margin-right: 44px;
     width: 152px;
/* Para superponer la img sobre el fondo de pantalla*/
    margin-top: -170px;
    z-index: 1;
}
.img-thumbnail{
    border: #6733c7 2px solid;
    border-style: dotted;
}
p{
    justify-content: center;
    font-size: 16px;
/* para encuadrar alrededor de la imagen el parrafo */
    /* border: #6733c7 8px solid; */
}
iframe{
    width: 300px;
    border-radius: 16px;
}
h1{
    font-size: 2rem;
    color: white;
}
h2{
    font-size: 2rem;
}

/* Seccion de navegacion */
.justify-content-end{
    background-image: url(../assets/img/logo_AP_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: plum;

/* en ancho horizontal del navbar*/
/* padding: 1px; */

/* para fijar hacia la izquierda la barra de navegaci¿on */
    position: fixed;

/* para que cuaando se fija siga ocupando todo el ancho de la pantalla */
    width: 100%;

/* para darle transparencia a la barra de navegacion fijado */
    opacity: 80%;
}

h5{  
    color: violet;
}

/*Sección de Bienvenidos al portfolio*/
.fondo-presentacion{
    padding: 16%;
    background-image: url(../assets/img/fondo_de_pantalla_seccion_superiortechnologybackground.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;

    /*para que al ampliar no se corte la imagen del fondo*/
    background-position: center;
}

/*Sección miga de pan que se irá agregando a las siguientes páginas con el correspondiente a href*/
.breadcrumb-item{
    color: violet;
    padding-left: 1px;
    margin-top: 1px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}




.mat-card {
    border-radius: 32px;
    margin: 10px 10px;
    padding: 10px;
    border-color: #0a66c2;
}
.mat-card#first-card {
    padding: 0;
}

/*div#profile-background {
    display: flex;
    z-index: 1;
}*/
div#profile-background img {
    width: 100%;
    border-radius: 32px 32px 0 0;
}

.profile-image {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
}
div#info-actions {
    display: flex;
}
div#info-actions button {
    margin-right: 8px;
}
div#info-contact span {
    font-size: 1rem;
    font-weight: 400;
}
div#info-contact span a {
    color: #0a66c2;
    touch-action: manipulation;
    text-decoration: none;
}
div#info-company {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
}
div#info-data {
    display: flex;
    justify-content: space-between;
}
div#info-data h1 {
    font-size: 1.8rem;
    display: inline;
    font-weight: 500;
    line-height: 1.25;
    word-wrap: break-word;
    word-break: break-word;
}
div#info-data ul#info-details {
    width: 232px;
    list-style: none;
    flex-shrink: 0;
}
div#info-data ul#info-details li a {
    color: black;
    display: flex;
    text-decoration: none;
}
div#info-data ul#info-details li a h2 {
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
    vertical-align: baseline;
}
div#info-data ul#info-details li a img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
ul.items-list {
    list-style: none inside;
}
ul.items-list li {
    display: flex;
    margin: 10px 0;
}
ul.items-list li div.data-container {
    flex-grow: 1;
}
ul.items-list li div.data-container a {
    display: flex;
    color: black;
}

